
@model HackerNewsApi.Models.LoginModel

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <h1>Login</h1>
    <form asp-action="Login" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="Username" required />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" required />
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>
