/* Header.css */
.navbar {
    background-color: white;
    padding: 10px 20px;
}

    .navbar .btn-primary, .navbar .btn-secondary {
        background-color: orange;
        border-color: orange;
        color: white;
        margin-right: 10px; /* Add space between the buttons */
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
    }

        .navbar .btn-primary:hover, .navbar .btn-secondary:hover {
            background-color: #e69500; /* Darker shade of orange for hover */
            border-color: #e69500;
        }

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ml-auto {
    margin-left: auto;
}

body {
    background-color: #f8f6f6;
}